/* Card Component */
@use "sass:math";
@use "../abstracts/functions" as func;

.card {
  margin: var(--gap) auto;
  padding: 15px;
  max-width: func.rem(320px);
  background-color: var(--color-white);
  border-radius: var(--radius);
  box-shadow: 0px func.rem(25px) func.rem(25px) rgba(0, 0, 0, 0.05);
}

.card__img {
  --radius: 10px;
  border-radius: var(--radius);
  aspect-ratio: 1;
}

.card__title {
  color: var(--color-brand-dark);
  margin: var(--gap) 0;
  font-size: func.rem(22px);
  line-height: math.div(28, 22);
}

.card__content {
  color: var(--color-brand-light);
  margin: var(--gap) auto;
  max-width: 26ch;
}