# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore

# All bin and obj folders.
bin/
obj/

# Visual Studio files.
*.user
*.suo
*.psess

# General cache files.
*.cache

# Mac cache files.
*/.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
__MACOSX
.idea

# Windows cache.
Thumbs.db

# Sass Cache
.sass-cache/

# Temp files
*~

# Microsoft Office temporary files.
*.~vsd

# Vim temporary files.
*.swp
erb


##############################################################
# Global Ignores.
##############################################################

# Node
node_modules/
/node_modules
node_modules